<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net45" />
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net45" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net45" />
  <package id="WpfWebcamControl" version="3.3.1" targetFramework="net45" />
</packages>